environment           = "development"
nginx_port            = 8080
prometheus_port       = 9090
grafana_port           = 3000
container_name_prefix = "terraform-docker-lab"
postgres_password     = "local-dev-change-me"
grafana_admin_password = "grafana-dev-change-me"
